
.text{
    margin: 1% 16%;
    padding: 1% 0%;
    text-align: justify;
    text-justify: inter-word;
    /* display: flex; */
    justify-content: space-evenly;
    /* flex-wrap: nowrap; */
    /* flex-direction: row; */
    align-content: space-around;
    align-items: center;
    font-size: 1.2rem;
}

.img{
    height: 150px;
    padding: 10px;
    display: flex;
    border-radius: 10%;
}

.odd{
    float: left;
}

.pair{
    float: right;
}

.col>[className^="col-"]{
    border: 1px solid red;
}
.row{
    border: 1 px solid blue;
}