.container {
    margin: 0 auto;
    max-width: 940px; 
    padding: 0 10px;   
  }

.nav { 
    background: rgba(0, 0, 0, 0.7);
    height: 80px; 
    width: 100%;
    text-align: center;
    position: fixed;
    top: 0;
    z-index: 1
  }

  @media (max-width: 785px) {
    .nav{
      height: 160px;
    }
    body {
      padding-top: 160px;
    }
    #lang{
      margin-left: 60px;
    }
  } 

  .change{
    color: white;        
    margin: 26px 38px -2px -31px;    
  }

  .change:hover{
    cursor: pointer;
  }

  .nav ul {
    height: 80px;
    list-style: none;
    margin: 0 auto; 
    padding: 0;
  }
  
  .nav ul li {
    color: #fff;
    display: inline-block; 
    height: 80px;
    line-height: 80px; 
    list-style: none;
    padding: 0 10px;
    transition: background .5s;
    font-weight: 400; 
  }
  
  .btn:hover, .nav ul li:hover {
    text-decoration: underline;
    background: rgba(6, 108, 180, 0.7);
    cursor: pointer; 
    transition: background .5s; 
    transition:  underline 5s;
  }

  .noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                      supported by Chrome, Edge, Opera and Firefox */
  }

  #spa, #uk, #usa{
    height: 25px;
    margin: 15px;
    filter: grayscale(35%);
    margin-top: 25px;
    line-height: 80px; 
  }

  #spa:hover, #uk:hover, #usa:hover{
    height: 30px;
    /*width: 35px;*/
    cursor: pointer;
    /*transition: height .5s;*/
    filter: grayscale(5%);
    transition: height .5s, filter .6s;
    transition-timing-function: linear;
  }

  #navbar{
    width: 710px;
  }

  @media (max-width: 785px) {
    #navbar{
      margin: 0 1px;
    }
  }

  #lang{
    margin-top: 25px;
  }

  /* .hola{
    color: white;
    float: left;
  } */
  /* .under {
    display: grid;
  }
 
  .up li{
    display: inline-block;
    top: 0;
  } */