html,
body {
  margin: 0;
  padding: 0;
  margin-bottom: 100px;
  margin-top: 100x;
  scroll-behavior: smooth;
}

body {
  /*font-family: "Roboto", sans-serif;
  font-family: 'Licorice', cursive;*/
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 150;
  padding-top: 80px;
  background-color: rgba(53, 61, 70, 1);
}

html {
  min-height: 100%;
  position: relative;
}

.container-md{
  background-color: rgb(31, 36, 40);
}

h1, h2{
  color: rgb(255, 255, 255);
}
