html,
body {
  margin: 0;
  padding: 0;
  /* margin-bottom: 100px; */
  margin-top: 100x;
  margin-bottom: -43px;
  scroll-behavior: smooth;
}

body {
  /*font-family: "Roboto", sans-serif;
  font-family: 'Licorice', cursive;*/
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 150;
  padding-top: 80px;
  background-color: rgba(53, 61, 70, 1);
}

html {
  min-height: 100%;
  position: relative;
}

.container-md{
  background-color: rgb(31, 36, 40);
  padding: 0%;
}
.row{
  padding: 0 30px;
}

h1, h2{
  color: rgb(222, 226, 230);
  margin-top: 20px!important;
  margin-bottom: 20px;
}
/* 
col {
  margin-top: 20px;
} */



a {
  color: rgb(156, 115, 33);
  text-decoration: none;
}

a:hover {
  color: rgb(156, 115, 33);
  /* text-decoration: underline;
  transition: underline 1s; */
  font-style: oblique;
}

.text{
  text-align: justify;
  text-justify: inter-word;
  /* display: flex; */
  justify-content: space-evenly;
  /* flex-wrap: nowrap; */
  /* flex-direction: row; */
  align-content: space-around;
  align-items: center;
  font-size: 25px;
  font-weight: 300;
  /* color: rgba(0, 0, 0, 0.8) */
  color: rgb(222, 226, 230);
  margin-top: 25px;
}

@media (max-width: 425px) {
  .container-md{
    width: 120%;
  }
}

@media (max-width: 320px) {
  .container-md{
    width: 114%;
  }
  #navbar.container{
    margin-right: 30px;
  }
}