.container {
  margin: 0 auto;
  max-width: 940px;
  padding: 0 10px;
}

 .header {
  background: url("../../media/img/YancenLighthouse.jpeg") no-repeat
  /* background: url("../../media/img/IMG_20220130_112448.jpg") no-repeat */
    center center;
  background-size: cover;
  height: 900px;
  text-align: center;
  color: #fff;
  margin-top: -20px;
} 

.header .container {
  position: relative;
  top: 200px;
}

#name {
  color: #fff;
  line-height: 100px;
  font-size: 80px;
  margin-top: 0;
  margin-bottom: 80px;  
  /* font-family: 'Oooh Baby', cursive; */
  font-weight: 15;
  margin-right: -105px;
  /* font-family: "Licorice", cursive; */
  /* font-family: 'Caveat', cursive; */
  font-family: 'La Belle Aurore', cursive;
}

#hometext{
  margin-right: 100px;
  text-align: right;
  
}

#welcome{
  text-align: right;
  margin-top: 60px;
  margin-left: 180px;
  font-weight: 400;
  color: white;
}

#welcome a{
  color: rgb(229, 178, 27);
}

#hello{
  padding-right: 80px!important;
  color: white;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

/* .homepres{
  
} */
